/* home section styling */
.home{
  height: 100vh;
  width: 100%;
  /* background: url("assets/background.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
}
.home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  font-size: 40px;
  color: #0E2431;
}
.home .text-two{
  color: #0E2431;
  font-size: 55px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three{
  font-size: 40px;
  margin: 5px 0;
  color: #4070f4;
}

.home .button{
  margin: 14px 0;
}
.home .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

#about {
  background-color: #02aab0;
  background-image: linear-gradient(
    135deg,
    #02aab0 0%,
    #00cdac 100%
  );
  color: #fff;
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;

  .about-wrapper {
    padding-bottom: 5rem;
  }

  .about-wrapper__image {
    padding-bottom: 6.4rem;
  }

  .about-wrapper__info {
    align-items: center;
  }

  .about-wrapper__info-text {
    text-align: left;
  }

  .about-wrapper__info-text--important {
    background: #00cdab;
  }
}

#contact {
  background-image: linear-gradient(
    135deg,
    #02aab0 0%,
    #00cdac 100%
  );
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: #fff;

  .contact-wrapper {
    margin-top: 3.2rem;
  }
}



#projects {
  background-color: #fff;
  color: #272341;
  margin-top: -10rem;
  padding-top: 15rem;

  .project-wrapper {
    margin-bottom: 15rem;

    .row {
      margin-bottom: 8rem;
    }

    .project-wrapper__text {
      text-align: left;

      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: 2.5rem;
      }

      & p > a {
        color: #00cdac;
      }
    }

    .project-wrapper__image {
      .thumbnail {
        border: none;
      }
    }
  }
}

.footer {
  background-color: #333333;
  color: #fff;
  padding: 4.8rem 0;

  .footer__text {
    color: #666666;
    font-size: 1.3rem;

    a {
      color: #666666;
      font-size: 1.3rem;

      &:hover,
      &:active {
        color: #02aab0;
      }
    }
  }

  hr {
    margin: 1rem auto;
    border: 0;
    width: 50%;
    border-top: 2px solid grey;
  }
}

.social-links {
  a {
    color: #fff;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    margin: 1.6rem 1.6rem;
  }
}

.back-to-top i {
  color: #fff;
  margin: 1rem 0 1.6rem;
}

section {
  padding: 5rem 0rem;
}

.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.6rem;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}




.cta-btn--resume {
  color: #fff;
  border: 2px solid #fff;

  &::after {
    background: #fff;
  }

  &:hover {
    color: #00cdac;

    &::after {
      width: 100%;
    }
  }
}

.up i {
  color: #272727;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #d2d2d2;
}
::-webkit-scrollbar-thumb:hover {
  background: #02aab0;
}

h1 {
  font-weight: 700;
}

p,
a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.dark-blue-text {
  color: #272341 !important;
}

.text-color-main {
  &:hover {
    transform: translateX(2px);
  }
}

.mb-8 {
  margin-bottom: 8rem !important;
}

@media (max-width: 20em) {
  /* phone-xs */
}

@media (max-width: 37.5em) {
  /* phone */
}

@media (max-width: 48em) {
  /* tab-port-sm */
}

@media (max-width: 56.25em) {
  /* tab-port */
}

@media (max-width: 75em) {
  /* tab-land */
}

@media (min-width: 112.5em) {
  /* big-desktop */
}
